*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.head{
    height: 100px;
    background-image: url("Head.png");
    background-size: cover;
}
select{
    border: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-bar{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}
.effect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-bar a{
    margin-right: 10px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.bonus{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.bonus:hover{
    background-color: black;
    color: white;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
select:hover{
    background-color: black;
    color: white;
    height: 60px;
}
#search{
    position: absolute;
    right: 30px;
    font-size: x-large;
}
.panel{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(229, 228, 228);
    padding-left: 20px;
}
.news{
    margin-left: 10px;
}
.content{
    margin-left: 50px;
    font-size: 0.90rem;
    color: rgb(82, 81, 81);
}
.degree{
    margin-left: 10px;
    margin-right: 5px;
}
.subpanel{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}
.subpanel i{
    font-size: x-large;
}
.date{
    font-size: 0.90rem;
    color: rgb(82, 81, 81);
}
.main{
    padding-top: 40px;
    padding-left: 10px;
}
.submain{
    background-color: white;
    display: flex;
}
.box1{
    height: 420px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    background-image: url("reading-newspaper.jpg");
    background-size: cover;
}
.box2{
    height: 420px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    background-image: url("most-followed-person.jpg");
    background-size: cover;
}
.box3{
    height: 400px;
    width: 200px;
}
.box4{
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    background-image: url("best-type-coffee.jpg");
    background-size: cover;
}
.box5{
    height: 200px;
    width: 200px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-image: url("practising-gratude.jpg");
    background-size: cover;
} 
.topic{
    height: 420px;
    width: 300px;
    margin: 10px;
    margin-left: 40px;
}
.subtopic{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.topic1{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.topic2{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(82, 81, 81);
    font-size: 1rem;
}
.box1-1{
    display: flex;
}
.box1-3{
    display: flex;
    align-items: center;
}
.box1-3-1{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: pink;
    background-image: url("AG_Jeans_logo.png");
    background-size: cover;
}
.box1-1-1,.box1-1-2{
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 4px 8px 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 10px;
}
.box1-2{
    font-size: 2.3rem;
    color: white;
    text-shadow: 1px 1px 2px #000000; 
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
}
.box1-3-2,.box1-3-3{
    font-size: 0.875rem;
    margin-right: 20px;
    margin-left: 8px;
    color: white;
    text-shadow: 1px 1px 2px #000000; 

}
.subbox1{
    position: relative;
    left: 25px; top: 235px;
}
.box2-1{
    font-size: 1.5rem;
}
.box4-1{
    font-size: 1.1rem;
}
.box5-1{
    font-size: 1rem;
}
.subtopic1{
    height: 80px;
    width: 100%;
    padding: 8px;
    display: flex;
    margin-top: 5px;
    
}
.subtopic1-img{
    height: 80px;
    width: 80px;
    background-color: pink;
    background-image: url("cricket-stadium.jpg");
    background-size: cover;
    border-radius: 5px;
}
.div1{
    font-size: 1.1875rem;
}
.div2{
    font-size: 1rem;
    color: rgb(82, 81, 81);
}
.subtopic1-content{
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
